DISCORD_BOT_TOKEN="Discord bot token."
CODE_EMAIL_SENDER="The sender of the mail to be fetched."
CODE_EMAIL_SUBJECT="The subject of the mail to be fetched."
CODE_REGEX="The regex that will be used to search for code in the mail."
LISTENING_CHANNEL="The channel name the bot will listen to."
LISTENING_PREFIX="The command prefix the bot will listen to."
LISTENING_ROLE_NAME="The only role that can get the code."